<!DOCTYPE html>
<html>
  <head>
    <title>BlondeGarden</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/morph/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a href="/" class="navbar-brand">BlondeGarden</a>
      </div>
      </nav>
      <div class="container p-4">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="card text-center">
                    <div class="card-header">
                        <h4 style="font-weight: bold;">Crear un nuevo producto</h4>
                    </div>
                    <div class="card-body">
                        <form action="/admin/productos/crear" method="POST">
                            <div style="text-align: left;">
                                <h6 class="mt-3" style="font-weight: bold;">Nombre</h6>
                            </div>
                            <div class="form-group">
                                <input type="text" name="nombre" id="nombre" placeholder="Ingrese el nombre" class="form-control" required>
                            </div>
                            <div style="text-align: left;">
                                <h6 class="mt-3" style="font-weight: bold;">Código</h6>
                            </div>
                            <div class="form-group">
                                <input type="text" name="codigo" id="codigo" placeholder="Ingrese el codigo " class="form-control" required>
                            </div>
                             <div style="text-align: left;">
                                <h6 class="mt-3" style="font-weight: bold;">Precio</h6>
                            </div>
                            <div class="form-group">
                                <input type="number" name="precio" id="precio" placeholder="Ingrese el precio " class="form-control" min="1 " required>
                            </div>
                            <div style="text-align: left;">
                                <h6 class="mt-3" style="font-weight: bold;">Descripción</h6>
                            </div>
                            <div class="form-group">
                                <textarea maxlength="500" name="descripcion" id="descripcion" class="form-control" required></textarea>
                            </div>
                            <div style="text-align: left;">
                                <h6 class="mt-3" style="font-weight: bold;">Marca</h6>
                            </div>
                            <div class="form-group">
                                <input type="text" name="marca" id="marca" placeholder="Ingrese la marca" class="form-control" required>
                            </div>
                            <div style="text-align: left;">
                                <h6 class="mt-3" style="font-weight: bold;">Tamaño</h6>
                            </div>
                            <div class="form-group">
                                <input type="text" name="tamaño" id="tamaño" placeholder="Ingrese el tamaño" class="form-control" required>
                            </div>
                            <div style="text-align: left;">
                                <h6 class="mt-3" style="font-weight: bold;">Categoria</h6>
                            </div>
                            <div class="form-group">
                                <input type="number" name="categoria_id" id="categoria_id" placeholder="Ingrese la id de la categoria" class="form-control" min="1" required>
                            </div>
                            <div class="form-group">
                                <button type ="submit" class="btn btn-success btn-block mt-3">
                                    Crear
                                </button>
                               
                            </div> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>