<!DOCTYPE html>
<html>
  <head>
    <title>BlondeGarden</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/morph/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a href="/" class="navbar-brand">BlondeGarden</a>
        <a href="/login" style="color:white">Iniciar sesión</a>
      </div>
      </nav>
      <div class="card text-center" >
      <div class="card-header" >
        <h2 style="font-weight: bold;">Bienvenido</h2>
        </div>
      </div>
  </body>
</html>