<!DOCTYPE html>
<html>
  <head>
    <title>Actividad Juan Quijada</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/morph/bootstrap.min.css">
  </head>
  <body>
   <h1 style="text-align: center;">Juan Quijada C.I: 30.961.326 sección 2</h1>
  </body>
</html>