<!DOCTYPE html>
<html lang="es">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contraseña</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/morph/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="https://images.vexels.com/media/users/3/200977/isolated/lists/da7cf605cded0d64979f81a813723465-mano-dando-icono-de-planta.png">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <style>
    .navbar-brand {
      display: flex;
      align-items: center;
    }

    .navbar-brand img {
      height: 2em; 
      margin-right: 1px; 
    }
    a {
      text-decoration: none;
    }
  </style>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a href="/" class="navbar-brand">
          <img src="https://images.vexels.com/media/users/3/200977/isolated/lists/da7cf605cded0d64979f81a813723465-mano-dando-icono-de-planta.png" alt="Icono de planta">
          BlondeGarden
        </a>
        </div>
        <a href="/login" style="color:white; margin-right: 20px;">Iniciar sesión</a>
        <a href="/signup" style="color:white; margin-right: 20px;">Registrarse</a>
      </nav>
      <br><br><br>
      <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="successModalLabel">Contraseña restablecida exitosamente</h5>
              <a href="/" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
            </div>
            <div class="modal-body">
              <p>La contraseña fue restablecida correctamente.</p>
            </div>
          </div>
        </div>
      </div>
      
    <div class="container p-4">
      <div class="row">
        <div class="col-md-4 mx-auto">
          <div class="card text-center">
            <div class="card-header">
              <h2 style="font-weight: bold;">Restablecer contraseña</h2>
            </div>
            <div class="card-body">
              <form action="/reset-password/<%= token %>" method="post">
                <div class="form-group">
                    <div class="form-floating" style="margin-bottom: 20px;">
                        <input type="password" name="password" id="password" placeholder="Ingrese su contraseña" class="form-control" required minlength="3" maxlength="255">
                        <label for="password">Ingrese su contraseña</label>
                    </div>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-success btn-block mt-3">
                    Restablecer contraseña
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script>
         const successModal = document.getElementById('successModal');

successModal.addEventListener('hidden.bs.modal', function () {
  window.location.href = '/';
});
        document.querySelector('form').addEventListener('submit', (event) => {
          event.preventDefault();
          const password = document.getElementById('password').value;
          axios.post('/reset-password/<%= token %>', { password })
            .then((response) => {
              const { success } = response.data;
      
              if (success) {
                const successModal = new bootstrap.Modal(document.getElementById('successModal'));
                successModal.show();
              } else {
                console.log('Error al restablecer la contraseña');
              }
            })
            .catch((error) => {
              console.log('Error al enviar la solicitud:', error);
            });
        });
      </script>
  </body>
</html>